
.AnnouncementButton{
    background: none;
    border: 0;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.AnnouncementButton:focus,.AnnouncementButton:active{
    background: none;
}

.AnnouncementButton::selection,.AnnouncementButton::-moz-selection{
    color: none;
    background: 'red';
}

.Restaurant-Announcement-wrap{
    padding: 10px 20px 0px 20px;
}

.Restaurant-Announcement-wrap p{
    display: flex;
    flex-wrap: nowrap;
}

.Restaurant-Announcement-wrap span{
    font-size: 0.9rem;
}

.AnnouncementContent{
    padding-left: 20px;
    overflow: visible;
    margin: 0;
    position: relative;
}

.webkit2{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
}

